.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  height: 50px;
  font-size: xx-large;
}

.Project {
  position: relative;
}

.bulletinBoard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  top: 10px;
  z-index: 0;

  /* border: 5px solid red; */
  background-image: url("../Assets/bulletinBoard.jpg");
  background-size: 750px;
  background-position: center;
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
}

.stickyNotes {
  background-image: url("../Assets/postIt.jpg");
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  position: relative;
  /* top: 100px; */
  /* bottom: 100px; */
  z-index: 1;
}

#ProjectDetails {
  font-weight: normal;
}

.Show {
  background-image: url("../Assets/postIt.jpg");
}

ul {
  list-style-type: none;
}

.Buttons {
  align-items: center;
}

.Mars {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../Assets/Mars.jpg");
  border: 2px solid;
  border-radius: 50%;
  max-width: 200px;
  height: 200px;
}

.HomeImg {
  background-image: url("../Assets/homeImg.jpg");
  height: 500px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.Greeting {
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
}
